.mycalc{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: black;
  }
  .all-btn{
    display: flex;
  }
  .all-btn-numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
  }
  .all-btn-signs{
    display: flex;
    flex-direction: column;
  }
  
  .all-btn-numbers button {
    background-color: grey;
    border: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  
  }
  .all-btn-signs button{
    background-color: orange;
    border: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
  
  }
  
  .btn-clear-equals{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .btn-clear-equals button{
    width: 120px;
    font-size: 30px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
   border: none;
  
  }
  #clear{
    color: black;
    background-color: gray;
    cursor: pointer;
  
  }
  
  #equals{
    color: black;
    background-color: gray;
    cursor: pointer;
  }
  
  input{
    width: 80%;
    margin: 10px 0px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius:  15px;
    border: 1px solid gray;
  }
  
  